// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$first-color: hsl(355, 70%, 54%);
$first-color-alt: hsl(355, 66%, 50%);
$title-color: hsl(355, 4%, 15%);
$text-color: hsl(355, 4%, 35%);
$text-color-light: hsl(355, 4%, 55%);
$body-color: #fff;
$container-color: #fff;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 140%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  background-color: $body-color;
  color: $text-color;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-semibold;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 24px;
    font-weight: $font-semibold;
    color: $title-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 15px;
    line-height: $leading-text;
  }

  &-bottom {
    margin-bottom: $margin-2;
  }
}

.button {
  display: inline-block;
  padding: 1.25rem 2.75rem;
  background-color: $first-color;
  border-radius: 5rem;
  font-size: 15px;
  font-weight: $font-semibold;
  text-transform: capitalize;
  color: $body-color;
  transition: $transition-400;

  &:hover {
    background-color: $first-color-alt;
  }
}

.container {
  max-width: 1024px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $body-color;
  z-index: $z-fixed;
  transition: $transition-400;

  // sticky header
  &.sticky-action {
    box-shadow: 0 2px 8px hsla(0, 4%, 15%, 0.1);
  }

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-weight: $font-semibold;
    color: $title-color;

    &-icon {
      width: 1.5rem;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 100%;
      top: -100%;
      left: 0;
      text-align: center;
      padding: 4rem 0;
      background-color: $body-color;
      border-radius: 0 0 1.5rem 1.5rem;
      box-shadow: 0 2px 8px hsl(0deg 4% 15% / 10%);
      transition: $transition-400;
    }

    // show-menu
    &.show-menu {
      top: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    font-weight: $font-medium;
    color: $title-color;

    &:hover {
      color: $first-color;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__close,
  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $title-color;
    cursor: pointer;
  }

  &__close {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
  }

  &__img {
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    transform: rotate(-15deg);
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 2rem;
  }

  &__img {
    width: 320px;
  }

  &__img,
  &__data {
    text-align: center;
    justify-self: center;
  }

  &__text {
    width: 320px;
    margin: 0 auto $margin-2;
  }
}

// ===== GIVING SECTION =====
.giving {
  &__container {
    gap: 1rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 1.5rem;
  }

  &__content {
    text-align: center;

    &:hover {
      .giving__content-img {
        transform: translateY(-6px);
      }
    }

    &-img {
      width: 100px;
      transition: $transition-400;
    }

    &-title {
      font-size: 17px;
      font-weight: $font-semibold;
      color: $title-color;
      margin-bottom: $margin-0-5;
    }

    &-text {
      font-size: 15px;
    }
  }
}

// ===== CELEBRATE SECTION =====
.celebrate {
  &__container {
    gap: 2rem;
  }

  &__data,
  &__img {
    text-align: center;
    justify-self: center;
  }

  &__img {
    width: 320px;
  }
}

// ===== GIFT SECTION =====
.gift {
  &__container {
    gap: 1rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  &__content {
    position: relative;
    display: grid;
    padding: 1.5rem 1rem;
    background-color: $container-color;
    border-radius: 0.75rem;
    box-shadow: 0 4px 16px hsl(355deg 25% 15% / 10%);

    &:hover {
      .gift__content-img {
        transform: translateY(-6px);
      }
    }

    &-img {
      width: 100px;
      justify-self: center;
      margin-bottom: 0.25rem;
      transition: $transition-400;
    }

    &-heart {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.25rem;
      color: $first-color;
      cursor: pointer;
    }

    &-price {
      font-size: 17px;
      font-weight: $font-semibold;
      color: $title-color;
    }

    &-title {
      font-size: 15px;
    }
  }
}

// ===== NEW SECTION =====
.new {
  &__data {
    text-align: center;
    margin-bottom: $margin-2;
  }

  &__content {
    position: relative;
    width: 230px;
    padding: 1.5rem 1rem;
    background-color: $container-color;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    margin-bottom: $margin-4;
    overflow: hidden;

    &:hover {
      .new__content-img {
        transform: translateY(-6px);
      }
    }

    &-overlay {
      position: absolute;
      top: -5rem;
      left: -0.65rem;
      width: 250px;
      height: 250px;
      background-color: $first-color;
      border-radius: 50%;
      z-index: 0;
    }

    &-img {
      position: relative;
      width: 150px;
      margin-bottom: $margin-2;
      transition: $transition-400;
    }

    &-price {
      font-size: 17px;
      font-weight: $font-semibold;
      color: $title-color;
    }

    &-title {
      font-size: 15px;
      font-weight: $font-medium;
    }

    &-button {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      padding: 0.5rem;
      border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    }

    &-heart {
      font-size: 1.25rem;
    }
  }

  // swiper-pagination
  .new__container {
    & .swiper-pagination-bullet {
      background-color: $text-color;
    }

    & .swiper-pagination-bullet-active {
      background-color: $first-color;
    }
  }
}

// ===== MESSAGE SECTION =====
.message {
  &__container {
    gap: 2rem;
    padding: 3rem 1.5rem;
    background-color: $first-color;
    border-radius: 1.25rem;
  }

  &__form,
  &__img {
    text-align: center;
    justify-self: center;
  }

  &__form {
    &-title {
      color: $body-color;
    }

    &-input {
      width: 100%;
      padding: 1.25rem 1.5rem;
      background-color: $body-color;
      font-size: 15px;
      color: $text-color;
      border-radius: 5rem;
      margin-bottom: $margin-1;

      &::placeholder {
        font-size: 15px;
        font-weight: $font-medium;
      }
    }

    &-button {
      width: 100%;
      background-color: $title-color;
    }
  }

  &__img {
    width: 200px;
    transform: rotate(15deg);
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 8rem 0 2rem;
  overflow: hidden;

  &__container {
    gap: 6rem;
  }

  &__group {
    position: relative;
    display: grid;
    gap: 2rem;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-weight: $font-semibold;
    color: $title-color;
    margin-bottom: $margin-1;

    &-icon {
      width: 1.5rem;
    }
  }

  &__text {
    font-size: 15px;
  }

  &__title {
    font-size: 17px;
    font-weight: $font-semibold;
    color: $title-color;
    margin-bottom: $margin-1;
  }

  &__links,
  &__aviables {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__link {
    font-size: 15px;
    color: $text-color;

    &:hover {
      color: $first-color;
      text-decoration: underline;
    }
  }

  &__aviables {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &-img {
      width: 100px;
    }
  }

  &__img1,
  &__img2 {
    position: absolute;
    width: 100px;
    transition: $transition-400;

    &:hover {
      transform: translateY(-6px);
    }
  }

  &__img1 {
    top: 25%;
    right: 2rem;
  }

  &__img2 {
    top: 75%;
    right: -4rem;
  }

  &__copy {
    padding-top: 2rem;
    border-top: 1.5px solid rgba($color: #000, $alpha: 0.1);
    font-size: 15px;
    color: $text-color-light;
    text-align: center;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  bottom: -100%;
  right: 1.5rem;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: $first-color;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: $body-color;
  transition: $transition-400;
  z-index: $z-normal;

  // scroll action
  &.scroll-action {
    bottom: 3rem;
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .giving__group {
    grid-template-columns: repeat(2, 142px);
    justify-content: center;
    gap: 2.5rem 3rem;
  }

  .celebrate__text {
    width: 390px;
    margin: 0 auto $margin-2;
  }

  .gift__group {
    grid-template-columns: repeat(2, 180px);
    justify-content: center;
    gap: 2rem;
  }

  .message__form {
    &-input,
    &-button {
      width: 80%;
    }
  }

  .footer {
    &__group {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 0;
    }

    &__img1 {
      right: 1rem;
    }
  }
}

// width 767px
@media screen and (min-width: 767px) {
  .header {
    &__menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    &__list {
      flex-direction: row;
    }

    &__button {
      margin-top: 0;
    }

    &__close,
    &__toggle,
    &__img {
      display: none;
    }
  }

  .home__container,
  .celebrate__container,
  .message__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data {
    text-align: left;
  }

  .celebrate {
    &__data {
      text-align: left;
    }

    &__text {
      width: auto;
    }
  }

  .giving__group {
    grid-template-columns: repeat(3, 142px);
    column-gap: 5rem;
  }

  .gift__group {
    grid-template-columns: repeat(3, 200px);
    gap: 2.5rem;
  }

  .footer__group {
    grid-template-columns: repeat(3, 1fr);
  }
}
